body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    /* background-position: -1200px; */
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 6fr;
    
}

.logo{
    width: 450px;
    height: 450px;
}

.left-container{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.space-ship{
    position: absolute;
    top: 0px;
    height: 250px;
    width: 250px;
}

.rocket{
    position: absolute;
    top: 220px;
    height: 150px;
    width: 150px;
}

.earth{
    position: absolute;
    bottom: 0;
    height: 320px;
    width: 320px;
}

.middle-container{
    display: flex;
    justify-content: center;
}

/* .right-container{
    border: 1px solid green;
} */
